<mat-spinner *ngIf="isLoader"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 || !isLoader">
  <mat-expansion-panel *ngFor="let post of posts" class="margin-bottom">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
      <mat-panel-description>
        {{post.description}}
      </mat-panel-description>

    </mat-expansion-panel-header>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="primary" (click)="deletePost(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="posts.length === 0 || !isLoader"> No Post to display</div>
